/* CSS Document */
nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav > ul > li {
    float: left;
}

nav > ul > li a,
.dropdown > a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li:hover:not(.active){
    background-color: #111;
}

nav > li.dropdown {
    display: inline-block;
}

.dropdown > div {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown > div a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown > div a:hover {background-color: #f1f1f1}

.dropdown:hover > div {
    display: block;
}

nav li.active {
    background-color: #ef4136;
}
